%%-*- mode: erlang -*-

{edoc_opts, [
    {application, ["couchbeam"]}
    ]}.

{erl_opts, [debug]}.

{deps, [
    {mochiweb, ".*", {git,"http://github.com/mochi/mochiweb.git",
                        "HEAD"}},

    %% erlang-oauth for oauth authentification
    {oauth, ".*", {git,"http://github.com/refuge/erlang-oauth.git",
                   "master"}},

    %% ibrowse for doing HTTP requests
    {ibrowse, ".*", {git, "http://github.com/cmullaparthi/ibrowse.git",
                     {branch, "master"}}}
]}.
